body {
    background: rgb(46,46,105);
background: linear-gradient(288deg, rgba(46,46,105,0.924829306722689) 12%, rgba(91,110,133,1) 76%);
    font-family: 'Arvo', serif;

  }
  
  main {
    max-width: 610px;
    margin: auto;
  }
  
  h1, h5, h3 {
    text-align: center;
    color: #f7e002;
    -webkit-text-fill-color:  #f7e002; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  }


  
  .win {
    color: white;
    /* padding-top:20px; */
    background: rgb(247,207,2);
    background: linear-gradient(0deg, rgba(247,207,2,1) 34%, rgba(10,89,181,1) 61%);
}
  
  .loss {
    color: white;
    background-color: red;
  }

  
  #word {
    letter-spacing: 10px;
    text-align: center;
    font-size: 24pt;
    color: #f7e002;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace
  }
  
  #guesses {
    text-align: center;
    font-size: 16pt;
    color: #f7e002;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace
  }
  .d-none {
    display: none;
  }
  .guess {
    padding: 10px;
    display: inline-block;
    border: 2px solid #f7e002;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
  }
  #gallows {
      z-index:3;
    width:100%;
    height:250px;
    margin:20px auto;
    background-image: url('/img/ukraine.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #btn-container button {
        border:none;
        font-size: 16px;
        padding:10px 15px;
        width:49%;
        
  }
  #btn-container {
    padding:20px;
    border-radius: 8px;
    width:80%;
    margin: 30% auto;
    box-shadow: 10px 11px 24px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 11px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 11px 24px 0px rgba(0,0,0,0.75);
  }
  #hangmanImage {
    position:relative;
    left:50%;
    bottom:-45%;
    transform: translate(-45%,1%);
  }
  #controls {
    width: 90%;
    margin:0 auto;
    text-align: center;
  }
  #guessBox p {
    margin-top:10px;
    color:white;
    -webkit-text-fill-color:  white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  }
  #guesses span {
    font-family: Arvo;
    color: #f7e002;
    -webkit-text-fill-color:  #f7e002; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  }
  @media only screen and (min-device-width: 375px ) and (max-device-width: 667px) {
      #guesses {
      text-align: center;
      font-size: 24pt;
      color: #f7e002;
      font-weight: bold;
      font-family: "Courier New", Courier, monospace
    }
  
    .guess {
      padding: 10px;
      display: inline-block;
      border: 2px solid #f7e002;
      border-radius: 10px;
      margin: 5px;
      cursor: pointer;
    }
  }
  
  #guessBox {
      height: 60px;
      border-radius: 10px;
      padding-top: 5px;
      font-size: 18pt;
      /* margin: 10px 5%; */
      width:100%;
      border:1px solid black;
  }
  
  /* Buttons */
  .button {
    display: inline-block;
    width: 100%;
    padding: 10px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    font-family: Arvo;
    font-weight: 500;
    background-color: #f7e002;
    border: none;
    border-radius: none;
    box-shadow: 2px 5px #999;
    margin-top:10px;
  }
  
  .button:hover {background-color: rgb(224, 224, 139)}
  
  .button:active {
    background-color: rgb(224, 224, 139);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

